body{
    background-color: #edf2f8;
    text-align: center;
    font-family:'Arial', sans-serif;
    font-weight: 550;
    color:#333;
}

.container {
    width: 70%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 60px 300px 80px;
}

header {
    background-color: #d6d3d3;
    grid-column: 1/5;
    grid-row: 1/2;
    padding: 20px;
}

.main {
    position: relative;
    grid-column: 1/3;
    grid-row: 2/3;
    padding-top:15px;
    background-color: rgb(246, 228, 208);
}

.main .main_boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    position: absolute;
    bottom: 15px;
    width: 100%;
}
.box1, .box2, .box3 {
    margin: 5px;
    width: 45%;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #f6ce8d;
}
.box3 {
    width: 95%;
}
.sidebar{
    background-color: rgb(204, 239, 198);
    grid-column: 3/4;
    grid-row: 2/3;
    padding-top: 15px;
}

.footer-boxes{
    background-color: #d6d3d3;
    grid-column: 1/5;
    grid-row: 3/4;
    display: flex;
    justify-content: center;
    align-items:center;
}
.footer-boxes .f_box {
    flex-direction: row;
    padding: 15px 5px;
    margin: 15px;
    background-color: #faf5f5;

}